@import '../../globalStyles.scss';

main {
	width: 98%;
	height: 98%;
	border-radius: 12px;
	border: 1px solid #A0A0A0;
	background-color: #E2E2E2;

	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: $wide-mobile-width) {

	main {
		width: 100%;
		max-width: 100%;
		height: 100%;
		max-height: 100%;
		border: none;
		border-radius: 0px;
	}
}