@import '../../globalStyles.scss';

.date-entry-frame {
	display: flex;
	border-radius: 10px 10px 0px 0px;
	background-color: olive;
}

.date-entry-component {
	flex: 1;
	width: 100%;
	height: 100%;
	border-right: 1px solid black;
	border-bottom: 1px solid red;
	background-color: oldlace;
}

@media only screen and (max-width: $wide-mobile-width) {
	.date-entry-frame {
		//width: 100%;
		//max-width: 100%;

		.place-holder {
			//display: none;
		}
	}
}